<section class="at-comments">
    <div class="at-comments__list" id="{{type}}{{id}}_comments_container">
        {% for comment in first_comments %}
            {% include 'ask_together/components/comment.html' with comment=comment only %}
        {% endfor %}
    </div>
    <div class="at-comments__actions d-flex gap-4">
        {% if request_user.is_authenticated %}
            <button data-btn="show" id="{{type}}{{id}}_comment_btn" class="at-btn-text-comment small" 
            onClick="handleCommentFormDisplay('{{type}}',{{id}},this)">Add a comment</button>
        {% else %}
            <a href="{% url 'ask_together:login' %}?ssrc=add_comment" class="at-text-brand-primary text-decoration-none small">
                Add a comment
            </a>
        {% endif %}
        {% if has_more_comments %}
            <button  class="at-btn-text-comment small" data-last-comment-id="{{last_comment_id}}"  onClick="fetchMoreComments('{{type}}', {{id}},this)">Show more comments</button>
        {% endif %}
    </div>
    <form id="{{type}}{{id}}_comment_form" class="d-none" onSubmit="handleCommentSubmit(event, '{{type}}', {{id}}, this)">
        <textarea name="content" id="{{type}}{{id}}_comment_content" class="w-100 p-2 at-form-input"></textarea>
        <div class="at-comments__form-actions">
            <button class="at-btn at-btn-brand at-btn-sm" type="submit">Add Comment</button>
            <button class="at-btn-text-comment small" type="button" data-btn="cancel"
            onClick="handleCommentFormDisplay('{{type}}',{{id}},this)">Cancel</button>
        </div>    
    </form>
</section>