{% load icon_tags %}
<nav class="at-pagination" aria-label="Pagination">
    <ul class="at-pagination__list">
        {% if page_obj.has_previous %}
            <li>
                <a href="?{{query_string}}&page=1" class="at-pagination__link">
                {% icon 'bi-chevron-double-left' 'at-icon--sm' %}
                </a>
            </li>
            <li>
                <a href="?{{query_string}}&page={{ page_obj.previous_page_number }}" class="at-pagination__link">       
                {% icon 'bi-chevron-left' 'at-icon--sm' %}
                </a>
            </li>
        {% endif %}

        <li class="at-pagination__status">
            {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </li>

        {% if page_obj.has_next %}
            <li>
                <a href="?{{query_string}}&page={{ page_obj.next_page_number }}" class="at-pagination__link">
                {% icon 'bi-chevron-right' 'at-icon--sm' %}
                </a>
            </li>
            <li>
                <a href="?{{query_string}}&page={{ page_obj.paginator.num_pages }}" class="at-pagination__link">
                    {% icon 'bi-chevron-double-right' 'at-icon--sm' %}
                </a>
            </li>
        {% endif %}
    </ul>
</nav>