{% load static %}
{% load icon_tags %}

<article class="at-question-card">
    <header class="at-question-card__header">
        <h3 class="at-question-card__title">
            <a href="{% url 'ask_together:question_detail' question.pk %}" >
                {{question.title}}
            </a>
        </h3>
        
        {% if request_user.is_authenticated %}
            <button 
                onClick="saveQuestion(this)"
                data-id="{{question.id}}"
                data-url="{% url 'ask_together:save_question' question.id %}"
                data-saved="{{question.is_saved|yesno:'true,false'}}"
                aria-label="{% if question.is_saved %}Unsave{% else %}Save{% endif %} question"
                class="at-btn at-bookmark-btn " 
            >
                {% icon 'card-bookmark-outline' 'bookmark-icon at-bookmark-icon--outline' %}
                {% icon 'card-bookmark-fill' 'bookmark-icon at-bookmark-icon--fill' %}
            </button>
        {% endif %}
    </header>
    <p class="at-question-card__excerpt">
        {{question.description|striptags|truncatewords:30}}
    </p>
    <footer class="at-question-card__footer">
        <div class="at-question-card__stats">
            {% if question.accepted_answer_id %}
                <span class="at-question-card__stat is-accepted">
                    {% icon 'bi-check-lg' 'icon-check' %}
                    {{question.answers_count}} answers
                </span>
            {% else %}
                <span class="at-question-card__stat">
                    {{question.answers_count}} answers
                </span>
            {% endif %}
            {% icon 'bi-dot' 'icon-dot' %}
            <span class="at-question-card__stat">
                {{question.total_votes}} votes
            </span>
        </div>
        <div class="at-question-card__author">
            <div class="at-question-card__author-main">
                <img class="at-avatar at-avatar-sm" src="{% if question.user.profile_image %}{{question.user.profile_image.url}}{% else %}{% static 'ask_together/img/default_profile.jpg' %}{% endif %}"/>
                <a class="at-question-card__author-name"href="{% url 'ask_together:user_profile' question.user.id %}">
                    {{question.user.username}}
                </a>
            </div>
            <div class="at-question-card__meta">
                <span>asked</span>
                <span class="datetime" data-dt="{{ question.created_at|date:'c' }}">
                    {{ question.created_at|date:"M d, Y H:i" }}
                </span>
            </div>
        </div>
    </footer>
</article>