{% load icon_tags %}

<div class="at-vote">
    {% if request_user.is_authenticated %}
        <button 
                class="at-btn at-btn-vote at-btn--xs at-btn--transparent {{ type }}{{ id }}-vote-btn {% if user_vote == 1 %}active{% endif %}"
                data-vote
                data-type="{{type}}"
                data-id="{{id}}"
                data-action="upvote"
                data-url = "{% if type == 'question' %}{% url 'ask_together:vote_question' id %}{% else %}{% url 'ask_together:vote_answer' id %}{% endif %}"
        >
         {% icon 'bi-caret-up-fill' 'vote-icon' %}   
        </button>
    {% else %}
        <a href="{% url 'ask_together:login' %}?ssrc=vote"
           class="at-btn at-btn-vote at-btn--xs at-btn--transparent">
           {% icon 'bi-caret-up-fill' 'vote-icon' %}   
        </a>
    {% endif %}

    <span id="{{ type }}{{ id }}_vote_count" class="at-vote__count">
        {{ total_votes }}
    </span>

    {% if request_user.is_authenticated %}
        <button 
                class="at-btn at-btn-vote at-btn--xs at-btn--transparent {{ type }}{{ id }}-vote-btn {% if user_vote == -1 %}active{% endif %}"
                data-vote
                data-id="{{id}}"
                data-type="{{type}}"
                data-action="downvote"
                data-url = "{% if type == 'question' %}{% url 'ask_together:vote_question' id %}{% else %}{% url 'ask_together:vote_answer' id %}{% endif %}"
                >
            {% icon 'bi-caret-down-fill' 'vote-icon' %}   
        </button>
    {% else %}
        <a href="{% url 'ask_together:login' %}?ssrc=vote" class="at-btn at-btn-vote at-btn--xs at-btn--transparent">
            {% icon 'bi-caret-down-fill' 'vote-icon' %}   
        </a>
    {% endif %}
</div>
