@import "./base/reset.css";
@import "./base/variables.css";
@import "./base/typography.css";
@import "./base/utilities.css";
@import "./base/base.css";

@import "./components/navbar.css";
@import "./components/pagination.css";
@import "./components/sidebar.css";
@import "./components/vote.css";
@import "./components/comment.css";
@import "./components/answer.css";

@import "./pages/home.css";
@import "./pages/question-detail.css";
