body {
  font-family: var(--font-body);
  font-size: var(--fs-md);
  color: var(--color-text-primary);
  line-height: var(--line-height-base);

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  line-height: 1.3;
  color: var(--color-heading-dark);
}

h1 {
  font-size: var(--fs-h1);
  margin-bottom: 0;
}
h2 {
  font-size: var(--fs-h2);
  margin-bottom: 0;
}
h3 {
  font-size: var(--fs-h3);
  margin-bottom: 0;
}

p {
  margin: 0;
  color: var(--color-text-primary);
}
