{% extends 'base.html' %}
{% load static %}

{% block title %}
    account setup
{% endblock %}

{% block content %}
    <main >
        <div class="layout account-setup">
            <section class="account-setup__card">
                <header>
                    <img src="{% static 'ask_together/img/logo_b.png' %}" class="account-setup__logo" alt="AskTogether logo"/>
                    <h1 class="account-setup__title">Account Setup</h1>
                </header>
                <form method="post" action="{% url 'ask_together:account_setup' %}" class="account-setup__form">
                    {% csrf_token %}
                    <div class="account-setup__field">
                        <label for="username_select" class="account-setup__label">Select Username:</label>
                        <input type="text" name="username" class="at-form-input" maxlength="150" autofocus="" required="" id="username_select"
                            data-username-url="{% url 'ask_together:check_username' %}"
                            value="{{user.username}}">
                        <p class="account-setup__message account-setup__message--success" id='username_message'>username '{{user.username}}' is available</p>
                    </div>
                    <button id="username_select_btn" class="at-btn at-btn-brand" type="submit" >Done</button>
                </form>
            </section>
        </div>
    </main>
{% endblock %}

{% block script_block %}
    <script src="{% static 'ask_together/js/account-setup.js' %}" defer></script>
{% endblock %}