{% extends 'base.html' %}
{% load static %}
{% load icon_tags %}

{% block title %}
    login
{% endblock %}

{% block content %}
  {% include 'ask_together/includes/header.html' %}
    <main>
        <div class="layout">
            <div class="at-sidebar-wrapper">
                {% include 'ask_together/includes/sidebar.html' %}
            </div>
            <div class="at-sidebar-overlay"></div>
            <div class="at-content-container">
                <div class="at-login-card">
                    {% if info_message %}
                        <div class="at-alert at-alert--info text-center mb-0">{{ info_message }}</div>
                    {% endif %}
                
                    {% if messages %}
                        {% for message in messages %}
                            <div class=" at-alert text-center">
                                {{message}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class=" at-alert text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
        
                    <header class="at-login__header">
                        <img src="{% static 'ask_together/img/logo_b.png' %}" class="at-login__logo" alt="AskTogether"/>
                        <h1 class="at-login__title">Sign-In</h1>
                    </header>
                    <a class="at-btn at-btn-google" href="{% url 'ask_together:google_login' %}">
                        {% icon 'icon-google' 'icon-google' %}
                        Continue with google
                    </a>
                    <div class="at-separator">
                        <span class="at-separator__line " aria-hidden="true"></span>
                        <span class="at-separator__text ">or</span>
                        <span class="at-separator__line" aria-hidden="true"></span>
                    </div>
                    <form method="post" action="{% url 'ask_together:login' %}" class="at-login-form">
                        {% csrf_token %}
                        <div class="">
                            <label for="email" class="at-login-form__label">Email</label>
                            <input type="email" name="username" id="email" maxlength="254" required="" placeholder="Enter Email" class="at-form-input">
                            {% for error in form.username.errors %}
                                <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
                        
                        <div class="mb-2">
                            <label for="id_password" class="at-login-form__label ">Password</label>
                            <input type="password" name="password" autocomplete="current-password" required="" id="id_password" placeholder="Enter Password"
                            class="at-form-input">
                            {% for error in form.password.errors %}
                                <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
            
                        {% if request.GET.next %}
                            <input type="hidden" name="next" value="{{ request.GET.next }}">
                        {% endif %}
                        
                        <button type="submit" class="at-btn at-btn-brand at-btn--lg text-uppercase">Login</button>
                    
                        <p>Don't have an account? <a href="{% url 'ask_together:signup' %}">Sign up</a></p>
                    </form> 
                </div>
            </div>
        </div>
    </main>
{% endblock %}