{% extends 'base.html' %}
{% load static %}


{% block title %}
    Notifications
{% endblock %}

{% block content %}
    {% include 'ask_together/includes/header.html' %}
    <main>
        <div class="layout">
            <div class="at-sidebar-wrapper">
                {% include 'ask_together/includes/sidebar.html' %}
            </div>
            <div class="at-sidebar-overlay"></div>
            <div class="at-content-container" id="notification-section" 
                data-fetch-url="{% url 'ask_together:get_notifications' %}"
                data-notification-url="{% url 'ask_together:question_detail' 0 %}">
                <header class="at-notifications__header">
                    <h1 class="at-notifications__title">Notifications</h1>
                    <div class="at-tabs" role="tablist" aria-label="Notification tabs">
                        <button 
                            class="at-btn at-btn-text at-btn-tabs active" 
                            data-type="unread" 
                            aria-selected="true"
                            aria-controls="unread-panel"
                            data-notification-tab
                        >
                            Unread
                        </button>
                        <button 
                            class="at-btn at-btn-text at-btn-tabs" 
                            aria-selected="false"
                            aria-controls="read-panel"
                            data-type="read"
                            data-notification-tab
                        >
                            Read
                        </button>
                    </div>
                </header>
                <section class=" at-tab-content active" id="unread_panel" role="tabpanel">
                    <p class="at-empty-state at-hidden" id="no_unread_msg">
                        No Unread Notifications
                    </p>
                    <img 
                        src={% static 'ask_together/img/loading_gif.gif' %}
                        alt="Loading"
                        class="at-loader at-hidden" 
                        id="unread_loading_gif" 
                    />
                    <button 
                        class="at-btn at-btn-text at-hidden" 
                        id="load_more_unread" 
                        data-type="unread"
                        data-load-notification
                    >
                        Load More
                    </button>
                </section> 
                <section 
                    class="at-tab-content" 
                    id="read_panel" 
                    role="tabpanel"
                    hidden>
                    <p class="at-empty-state at-hidden" id="no_read_msg">
                        No Read Notifications
                    </p>
                    <img 
                        src={% static 'ask_together/img/loading_gif.gif' %} 
                        alt="Loading"
                        class="at-loader at-hidden" 
                        id="read_loading_gif"/>
                    <button 
                        class="at-btn at-btn-text at-hidden" 
                        id="load_more_read" 
                        data-type="read"
                        data-load-notification
                    >
                        Load More
                    </button>
                </section>     
            </div>
        </div>
    </main>
{% endblock %}

{% block script_block %}
    <script src="{% static 'ask_together/js/notifications.js' %}" defer ></script>
{% endblock %}