{% extends 'base.html' %}

{% block title %}
    Password Reset Form
{% endblock %}

{% block content %}
    <main>  
        <div class="layout">
            <form method="POST" action="{% url 'ask_together:password_reset' %}" class="mt-3 p-3">
                {% csrf_token %} 
                <div class="mb-3">
                    <label for="id_email" class="at-login-form__label">Email:</label>
                    <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="at-form-input">
                </div>
    
                <button type="submit" class="at-btn at-btn-brand">Submit</button>
            </form>
        </div>
    </main>
{% endblock %}