{% extends 'base.html' %}

{% block title %}
    Password Reset Form
{% endblock %}

{% block content %}
    <main class="container ">
        <div class="flex justify-content-center row mt-5">
            <div class="col-8 px-0">
                <form method="POST" action="{% url 'ask_together:password_reset' %}">
                    {% csrf_token %} 
                    <div class="row">
                        <div class="d-flex flex-column col-4 m-auto gap-3">
                            <div>
                                <label for="id_email" class="form-label">Email:</label>
                                <input type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email" class="form-control">
                            </div>
                            <div> 
                                <button type="submit" class="btn btn-outline-info">Submit</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </main>
{% endblock %}