{% extends 'base.html' %}

{% block title %}
    Password Reset Form
{% endblock %}

{% block content %}
    <main>
        <div class="layout">
            {% if validlink %}
                <form method="POST" class="mt-3 p-3">
                    {% csrf_token %} 
                    <div class="mb-2">
                        <label for="id_new_password1" class="at-login-form__label">New password:</label>
                        <input type="password" name="new_password1" autocomplete="new-password" required="" aria-describedby="id_new_password1_helptext" id="id_new_password1" class="at-form-input">    
                    </div>
                    <div class="mb-3">
                        <label for="id_new_password2" class="at-login-form__label">New password confirmation:</label>
                        <input type="password" name="new_password2" autocomplete="new-password" required="" aria-describedby="id_new_password2_helptext" id="id_new_password2" class="at-form-input">
                    </div>
                    <button type="submit" class="at-btn at-btn-brand">Submit</button>
                </form>
            {% else %}
                <p class="mt-3">The password reset link is invalid.</p>
            {% endif %}
        </div>
    </main>
{% endblock %}