{% extends 'base.html' %}
{% load static %}


{% block title %}
    Ask question
{% endblock %}

{% block content %}
    {% include 'ask_together/includes/header.html' %}
    <main class="at-ask">
        <div class="layout">
            <div class="at-content-container">
                <h1 class="at-ask__title">Ask</h1>
                <section class="at-ask-card" >
                    <form method="post" action="{% url 'ask_together:question_create' %}" 
                    class="at-ask-form">
                        {% csrf_token %}
                        <div class="at-ask-form__field">
                            <label for="id_title" class="at-ask-form__label">Title<span class="at-form-required"> *</span></label>
                            <input type="text" name="title" maxlength="200" required="" id="id_title" class="at-form-input" placeholder="e.g. How to center a div using CSS?">
                        </div>
                        <div class="at-ask-form__field">
                            <label for="id_description" class="at-ask-form__label">Description<span class="at-form-required">*</span></label>
                            {{form.description}}
                            {% for error in form.description.errors %}
                                    <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
                        <button type="submit" class="at-btn at-btn-brand fw-normal align-self-center">Submit</button>
                    </form>
                </section>
            </div>
        </div>
    </main>
{% endblock %}