{% extends 'base.html' %}
{% load static %}
    
{% block title %}
    {{question.title}}
{% endblock %}


{% block content %}
    {% include 'ask_together/includes/header.html' %}
    <main>
        <div class="layout"> 
            <div class="at-sidebar-wrapper">
                {% include 'ask_together/includes/sidebar.html' %}
            </div>
            <div class="at-sidebar-overlay"></div>
            <div class="at-content-container">
                <article class="at-question">
                    <header class="at-question__header">
                        <h1 class="at-question__title">{{question.title}}</h1>
                    </header> 
                    <div class="at-question__body ">
                        {% include 'ask_together/components/vote_block.html' with type='question' id=question.id total_votes=total_votes  user_vote=user_vote %}
                        
                        <div class="at-question__content">
                            <div class="at-rich-content">
                                {{question.description|safe}}
                            </div>
                            <footer class="at-question__meta">          
                                <span class="at-question__time ">
                                    <span >Asked</span>
                                    <time class="datetime" data-dt="{{ question.created_at|date:'c' }}">
                                        {{ question.created_at|date:"M d, Y H:i" }}
                                    </time>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-dot at-user-label" viewBox="0 0 16 16">
                                    <path d="M8 9.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3"/>
                                </svg>    
                                <span class="at-question__author">
                                    <img class="at-avatar at-avatar-sm" src="{% if question.user.profile_image %}{{question.user.profile_image.url}}{% else %}{% static 'ask_together/img/default_profile.jpg' %}{% endif %}"/>
                                    <a href="{% url 'ask_together:user_profile' question.user.id %}" class="at-question__author-name">{{question.user.username}}</a>
                                </span>    
                            </footer>
                            {% include 'ask_together/components/comments.html' with type="question" id=question.id first_comments=first_comments user=user has_more_comments=has_more_comments last_comment_id=last_comment_id %}
                        </div>
                    </div>
                </article>
                <section class="at-answers">
                    <header class="at-answers__header">
                        <h3 id="answer_count">{{question.answers.count}} Answer{{question.answers.count|pluralize}}</h3>
                    </header>
                    {% if answers %}
                        {% include 'ask_together/components/pagination.html' with page_obj=answers only %}
                    {% endif %}
                    <div id="answer_container">
                        {% for ans in answers %}
                            {% include 'ask_together/components/answer.html' with ctx=ans only %}
                        {% endfor %}
                    </div>
                    {% if answers %}
                        <div class="mt-3">
                            {% include 'ask_together/components/pagination.html' with page_obj=answers only %}
                        </div>
                    {% endif %}
                </section>
                <section class="at-answer-form">
                    <form id="answer_form" >
                        {% csrf_token %}
                        <label for="id_content" class="at-answer-form__label">Your Answer:</label>
                        {{answer_form.content}}
                        {% if user.is_authenticated %}
                            <button type="submit" class="at-btn at-btn-brand fw-normal mt-2">Post Your Answer</button>
                        {% else %}
                            <a href="{% url 'ask_together:login' %}?ssrc=post_answer" class="at-btn at-btn-brand fw-normal mt-2">
                                Post Your Answer
                            </a>
                        {% endif %}
                    </form>
                </section>
            </div>
        </div>
    </main>
{% endblock %}
{% block script_block %}
    <script>
        formatUTCtoLocal()

        const formEl = document.getElementById("answer_form");
        let acceptedAnswer = {% if question.accepted_answer %}{{question.accepted_answer.id}}{% else %}null{% endif %}

        const handleSubmit = (e)=>{
            e.preventDefault()

            const answer = formEl.querySelector('#id_content').value
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value

            fetch("{% url 'ask_together:answer_create' %}",{
                method:'POST',
                headers:{
                    'Content-Type':"application/json",
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({content:answer, question: {{question.id}}})
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data =>{
                //remove form error on success and reset form
                formEl.querySelector('.at-error-msg')?.remove()
                formEl.reset()
                const iframe = document.getElementById("id_content_iframe");
                const editable = iframe.contentDocument.querySelector('.note-editable')
                if(editable){
                    editable.innerHTML = ''
                }

                //update answer count
                const countEl = document.getElementById("answer_count");
                if (countEl) {
                    let current = parseInt(countEl.textContent);
                    if (!isNaN(current)) {
                        let newCount = current + 1;
                        countEl.textContent = `${newCount} Answer${newCount !== 1 ? 's' : ''}`;
                    }
                }

                //add answer to UI
                addAnswerToUI(data.html)                
            }) 
            .catch(err =>{
                const p = document.createElement('p')
                p.className = 'at-error-msg text-danger mb-1';
                if(err.content){
                    p.textContent = err.content[0]
                }else{
                    p.textContent = 'some error occurred'  
                }
                formEl.appendChild(p)
            })   
        } 

        const addAnswerToUI = (answer)=>{
            const container = document.getElementById("answer_container");
            container.insertAdjacentHTML("beforeend", answer);
            formatUTCtoLocal(container) 
        }

        formEl.addEventListener("submit",handleSubmit)

        const handleVote = (type, id, action, button)=>{
            let actionMap = {upvote:1, downvote:-1}
            let value = actionMap[action]

            if (button.classList.contains('active')){
                action = 'remove'
            }
            
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value

            let url = type==='question' ? `{% url 'ask_together:vote_question' 0 %}`.replace('0',`${id}`):
                                         `{% url 'ask_together:vote_answer' 0 %}`.replace('0',`${id}`)

            
            fetch(`${url}`,{
                method:'POST',
                headers:{
                    'Content-Type':"application/json",
                    'X-CSRFToken':csrfToken
                },
                body:JSON.stringify({action})
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data=>{
                let activeAction = ''
                document.querySelectorAll(`.${type+id}-vote-btn`).forEach((btn)=>{
                    if(btn.classList.contains('active')){
                        activeAction = btn.dataset.action
                        btn.classList.remove('active')
                    }
                })
                spanEl = document.getElementById(`${type+id}_vote_count`)
                let vote_count = parseInt(spanEl.innerHTML)


                if(action === 'remove'){
                    vote_count -= value
                }else{
                    button.classList.add('active')
                    if(activeAction){
                        vote_count -= actionMap[activeAction]
                    }
                    vote_count += value
                }

                spanEl.innerHTML = vote_count
            })
            .catch(err =>{
                console.error(err)
                alert('Something went wrong, Please try again.')
            }) 

        }

        const handleCommentFormDisplay = (type, id, button)=>{
            let btnType = button.dataset.btn
            let commentForm = document.getElementById(`${type+id}_comment_form`)
            if(btnType === "show"){
                button.classList.add('d-none')
                commentForm.classList.remove('d-none')
            }else{
                commentForm.reset()
                commentForm.querySelector(`#${type+id}_comment_error`)?.remove()
                document.getElementById(`${type+id}_comment_btn`).classList.remove('d-none')
                commentForm.classList.add('d-none')
            }
        }

        const handleCommentSubmit = (e, type, id, form)=>{
            e.preventDefault()
            let content = document.getElementById(`${type+id}_comment_content`).value
            
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value
            
            fetch(`{% url 'ask_together:comment_create' %}`,{
                method:'POST',
                headers:{
                    'Content-Type':"application/json",
                    'X-CSRFToken':csrfToken
                },
                body:JSON.stringify({
                    content:content.trim(),
                    [type]:id
                })
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data=>{
                form.querySelector(`#${type+id}_comment_error`)?.remove()
                form.reset()
                addCommentToUi(data.html, type, id)
                document.getElementById(`${type+id}_comment_btn`).classList.remove('d-none')
                form.classList.add('d-none')
            })
            .catch(err=>{
                const p = document.createElement('p')
                p.id = `${type+id}_comment_error`
                p.className = ' text-danger mb-1';
                if(err.content){
                    p.textContent = err.content[0]
                }else{
                    p.textContent = 'some error occurred'  
                }
                form.appendChild(p)
            })

        }   

        const addCommentToUi = (comment,type,id)=>{
            const container = document.getElementById(`${type+id}_comments_container`)
            container.insertAdjacentHTML("beforeend", comment);
            formatUTCtoLocal(container)                           
        }

        const handleAcceptedAnswer = (id, button)=>{
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value

            const url = "{% url 'ask_together:answer_accept' question.id %}"

            let method, body = null;

            if (acceptedAnswer === id){
                method = "DELETE"
            }else{
                method = "POST"
                body = JSON.stringify({answer:id})
            }

            fetch(url,{
                method,
                headers:{
                    'X-CSRFToken': csrfToken,
                    ...(body && {'Content-Type':'application/json'})
                },
                ...(body && { body })
            })
            .then((res)=>res.ok?res.json():res.json().then((err)=>{throw err}))
            .then(data=>{
                const prev = acceptedAnswer
                acceptedAnswer = data.accepted_answer

                if (prev !== null && prev !== id) {
                    updateAcceptedAnswerUI(prev, false);
                }

                updateAcceptedAnswerUI(id, acceptedAnswer === id);
            })
            .catch(err=>{
                console.error(err)
                alert('Something went wrong, Please try again.')
            })
        }

        function updateAcceptedAnswerUI(answerId, isAccepted) {
            const btn = document.getElementById(`answer${answerId}_acc_btn`);
            if (!btn) return;

            btn.querySelectorAll("svg").forEach(svg => {
                const accepted = svg.dataset.accepted === "true";
                if (accepted === isAccepted) {
                    svg.classList.remove("d-none");
                } else {
                    svg.classList.add("d-none");
                }
            });
        }


        const fetchMoreComments = (type, id, button)=>{
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value
            const last_id = button.dataset.lastCommentId

            fetch(`{% url 'ask_together:get_comments' %}?${type==="question"?'question_id':'answer_id'}=${id}&last_id=${last_id}`,{
                method:'GET',
                headers:{
                    'X-CSRFToken': csrfToken
                }
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data =>{
                data.comments.forEach((comment)=>addCommentToUi(comment.html, type, id))
                button.dataset.lastCommentId = data.last_id
                if(!data.has_more){
                    button.classList.add('d-none')
                }

            })
            .catch(err => {
                console.error(err)
                alert('Something went wrong, Please try again.')
            })
        }

    </script>
{% endblock %}