{% extends 'base.html' %}
    
{% block title %}
    {{object.title}}
{% endblock %}

{% block content %}
    {% include 'ask_together/includes/header.html' %}
    <main class="container">
        <div class="row my-4">
            <div class="col-8 m-auto">
                <div class="mb-3">
                    <div class="pb-3 border-bottom">
                        <h2>{{object.title}}</h2>
                        <div class="flex">
                            <p class="mb-0"><span class="datetime" data-dt="{{ object.created_at|date:'c' }}">{{ object.created_at|date:"M d, Y H:i" }}</span></p>
                        </div>
                    </div> 
                    <div class=" pt-4 d-flex gap-4">
                        <div class="">
                            <div class="d-flex flex-column gap-2 align-items-center">
                                <button data-action="upvote" class="btn btn-outline-secondary rounded-circle p-2 d-flex question{{object.id}}-vote-btn {% if user_vote == 1 %}active{% endif %}" onClick="handleVote('question',{{object.id}},'upvote',this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                        <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                    </svg>
                                </button>
                                <span id="question{{object.id}}_vote_count"  class="fw-medium fs-4">{{total_votes}}</span>
                                <button data-action="downvote" class="btn btn-outline-secondary rounded-circle p-2 d-flex question{{object.id}}-vote-btn {% if user_vote == -1 %}active{% endif %}" onClick="handleVote('question',{{object.id}},'downvote',this)">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                        <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="d-flex flex-column flex-grow-1 ">
                            <div class="pb-4">
                                {{object.description|safe}}
                            </div>
                            <div class="d-flex justify-content-end">
                                <div class="bg-primary-subtle bg-opacity-25 py-1 px-2 rounded small">
                                    <p class="mb-0  text-light-emphasis">
                                        asked <span class="datetime " data-dt="{{ object.created_at|date:'c' }}">
                                            {{ object.created_at|date:"M d, Y H:i" }}
                                        </span>
                                    </p>
                                    <p class="mb-0 text-primary fs-6">{{object.user.username}}</p>
                                </div>
                            </div>
                            <div class="mt-4" id="question{{object.id}}_comments_container">
                                {% for comment in first_comments %}
                                    <div class="px-3 py-2 border-top">
                                        <p class="mb-0">
                                            {{comment.content}}
                                            <span class="d-inline-block">
                                                <span>- {{comment.user.username}}</span>
                                                <span class="datetime text-secondary small" data-dt="{{ comment.created_at|date:'c' }}">{{ comment.created_at|date:"M d, Y H:i" }}</span>
                                            </span>
                                        </p>
                                    </div>
                                {% endfor %}
                            </div>
                            <div>
                                <div class="d-flex gap-4">
                                    <button data-btn="show" id="question{{object.id}}_comment_btn" class="text-primary btn p-0 m-0 border-0 bg-transparent " 
                                    onClick="handleCommentFormDisplay('question',{{object.id}},this)">Add a comment</button>
                                    {% if has_more_comments %}
                                        <button  class="text-primary btn p-0 m-0 border-0 bg-transparent" data-last-comment-id="{{last_comment_id}}"  onClick="fetchMoreComments('question', {{object.id}},this)">Show more comments</button>
                                    {% endif %}
                                </div>
                                <form id="question{{object.id}}_comment_form" class="d-none" onSubmit="handleCommentSubmit(event, {{object.id}}, null, this)">
                                    <textarea name="content" id="question{{object.id}}_comment_content" class="w-100 p-2 form-control"></textarea>
                                    <div class="d-flex gap-2 mt-2">
                                        <button class="btn btn-sm btn-primary" type="submit">Add Comment</button>
                                        <button class="text-primary btn p-0 m-0 border-0 bg-transparent" type="button" data-btn="cancel"
                                        onClick="handleCommentFormDisplay('question',{{object.id}},this)">Cancel</button>
                                    </div>    
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <h3 id="answer_count" class="fs-4">{{object.answers.count}} Answer{{object.answers.count|pluralize}}</h3>
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if answers.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ answers.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
                        </span>

                        {% if answers.has_next %}
                            <a href="?page={{ answers.next_page_number }}">next</a>
                            <a href="?page={{ answers.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <div id="answer_container">
                    {% for answer in answers %}
                        <div class="d-flex gap-4 border-bottom py-4 ">
                                <div class="d-flex flex-column align-items-center gap-4">
                                    <div class="d-flex flex-column gap-2 align-items-center">
                                        <button data-action="upvote" class="btn btn-outline-secondary rounded-circle p-2 d-flex answer{{answer.id}}-vote-btn  {% if answer.user_vote == 1 %}active{% endif %}" onClick="handleVote('answer',{{answer.id}},'upvote',this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                                            </svg>
                                        </button>
                                        <span id="answer{{answer.id}}_vote_count" class="fw-medium fs-4">{{answer.total_votes}}</span>
                                        <button data-action="downvote" class="btn btn-outline-secondary rounded-circle p-2 d-flex answer{{answer.id}}-vote-btn {% if answer.user_vote == -1 %}active{% endif %}" onClick="handleVote('answer',{{answer.id}},'downvote',this)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                                                <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                                            </svg>
                                        </button>
                                    </div>
                                    {% if object.user == request.user %}
                                        <div>
                                            <button id="answer{{answer.id}}_acc_btn" class="btn p-0 m-0 border-0 bg-transparent" onClick="handleAcceptedAnswer({{answer.id}}, this)">
                                                <svg data-accepted='false' xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-check-circle {% if question.accepted_answer == answer %} d-none {% endif %}" viewBox="0 0 16 16">
                                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                                                    <path d="m10.97 4.97-.02.022-3.473 4.425-2.093-2.094a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05"/>
                                                </svg>
                                                
                                                <svg data-accepted='true'  xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-check-circle-fill text-success {% if question.accepted_answer != answer %} d-none {% endif %}" viewBox="0 0 16 16">
                                                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                                </svg>
                                            </button>
                                        </div>
                                    {% elif answer == question.accepted_answer %}
                                        <div>
                                            <svg id="answer{{answer.id}}_acc_svg" xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-check-circle-fill text-success" viewBox="0 0 16 16">
                                                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0m-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                                            </svg>
                                        </div>
                                    {% endif%}
                                </div>
                                <div class="flex-grow-1">
                                    <div class=" pb-4 rich-content">
                                        {{answer.content|safe}}
                                    </div>
                                    <div class="d-flex justify-content-end">
                                        <div class=" py-1 px-2 small ">
                                            <p class="mb-0  text-light-emphasis">
                                                answered <span class="datetime " data-dt="{{ answer.created_at|date:'c' }}">
                                                    {{ answer.created_at|date:"M d, Y H:i" }}
                                                </span>
                                            </p>
                                            <p class="mb-0 text-primary fs-6">{{answer.author.username}}</p>
                                        </div>
                                    </div>
                                    <div class="{% if answer.comments.count %}mt-4{% endif %}" id="answer{{answer.id}}_comments_container">
                                        {% for comment in answer.first_comments %}
                                            <div class="px-3 py-2 border-top">
                                                <p class="mb-0">
                                                    {{comment.content}}
                                                    <span class="d-inline-block">
                                                        <span>- {{comment.user.username}}</span>
                                                        <span class="datetime text-secondary small" data-dt="{{ comment.created_at|date:'c' }}">{{ comment.created_at|date:"M d, Y H:i" }}</span>
                                                    </span>
                                                </p>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div>
                                        <div class="d-flex gap-4">
                                            <button data-btn="show" id="answer{{answer.id}}_comment_btn" class="text-primary btn p-0 m-0 border-0 bg-transparent " 
                                                onClick="handleCommentFormDisplay('answer',{{answer.id}},this)">Add a comment</button>
                                            {% if answer.has_more_comments %}
                                                <button  class="text-primary btn p-0 m-0 border-0 bg-transparent" data-last-comment-id="{{answer.last_comment_id}}"  onClick="fetchMoreComments('answer', {{answer.id}},this)">Show more comments</button>
                                            {% endif %}
                                        </div>
                                        <form id="answer{{answer.id}}_comment_form" class="d-none" onSubmit="handleCommentSubmit(event, null, {{answer.id}}, this)">
                                            <textarea name="content" id="answer{{answer.id}}_comment_content" class="w-100 p-2 form-control"></textarea>
                                            <div class="d-flex gap-2 mt-2">
                                                <button class="btn btn-sm btn-primary" type="submit">Add Comment</button>
                                                <button class="text-primary btn p-0 m-0 border-0 bg-transparent" type="button" data-btn="cancel"
                                                onClick="handleCommentFormDisplay('answer',{{answer.id}},this)">Cancel</button>
                                            </div>    
                                        </form>
                                    </div>
                                </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="pagination">
                    <span class="step-links">
                        {% if answers.has_previous %}
                            <a href="?page=1">&laquo; first</a>
                            <a href="?page={{ answers.previous_page_number }}">previous</a>
                        {% endif %}

                        <span class="current">
                            Page {{ answers.number }} of {{ answers.paginator.num_pages }}.
                        </span>

                        {% if answers.has_next %}
                            <a href="?page={{ answers.next_page_number }}">next</a>
                            <a href="?page={{ answers.paginator.num_pages }}">last &raquo;</a>
                        {% endif %}
                    </span>
                </div>
                <div class="mt-3">
                    <form id="answer_form" >
                        {% csrf_token %}
                        <label for="id_content" class="fs-5 mb-3">Your Answer:</label>
                        <textarea name="content" cols="40" rows="10" summernote="{'toolbar': [['style', ['style']], ['font', ['bold', 'italic', 'underline', 'strikethrough', 'clear']], ['color', ['color']], ['para', ['ul', 'ol']], ['insert', ['link', 'picture', 'hr']], ['view', ['help']]], 'width': '100%', 'height': '400px'}" id="id_content" hidden="true" style="display: none;"></textarea>
                        <script>
                            var settings_id_content = {"width": "100%", "height": "400px", "lang": "en-US", "toolbar": [["style", ["style"]], ["font", ["bold", "italic", "underline", "strikethrough", "clear"]], ["color", ["color"]], ["para", ["ul", "ol"]], ["insert", ["link", "picture", "hr"]], ["view", ["help"]]], "url": {"language": "/static/summernote/lang/summernote-en-US.min.js", "upload_attachment": "/summernote/upload_attachment/"}};
                        </script>
                        <style>
                            iframe.note-fullscreen {
                            position: fixed;
                            top: 0;
                            left: 0;
                            width: 100vw!important;
                            height: 100vh!important;
                            z-index: 4000;
                            }
                        </style>
                        <div class="summernote-div" cols="40" rows="10" summernote="{'toolbar': [['style', ['style']], ['font', ['bold', 'italic', 'underline', 'strikethrough', 'clear']], ['color', ['color']], ['para', ['ul', 'ol']], ['insert', ['link', 'picture', 'hr']], ['view', ['help']]], 'width': '100%', 'height': '400px'}" width="100%" height="400px">
                            <iframe id="id_content_iframe" src="/summernote/editor/id_content/" frameborder="0" width="100%" height="400px" style="height: 400px;"></iframe>
                        </div>
                        <button type="submit" class="btn btn-primary mt-3">Post Your Answer</button>
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}
{% block script_block %}
    <script>
        formatUTCtoLocal()

        const formEl = document.getElementById("answer_form");
        let acceptedAnswer = {% if object.accepted_answer %}{{object.accepted_answer.id}}{% else %}null{% endif %}

        const handleSubmit = (e)=>{
            e.preventDefault()

            const answer = formEl.querySelector('#id_content').value
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value

            fetch('http://127.0.0.1:8000/asktogether/api/answers/create/',{
                method:'POST',
                headers:{
                    'Content-Type':"application/json",
                    'X-CSRFToken': csrfToken
                },
                body: JSON.stringify({content:answer, question: {{object.id}}})
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data =>{
                //remove form error on success and reset form
                formEl.querySelector('.error-msg')?.remove()
                formEl.reset()
                const iframe = document.getElementById("id_content_iframe");
                const editable = iframe.contentDocument.querySelector('.note-editable')
                if(editable){
                    editable.innerHTML = ''
                }

                //update answer count
                const countEl = document.getElementById("answer_count");
                if (countEl) {
                    let current = parseInt(countEl.textContent);
                    if (!isNaN(current)) {
                        let newCount = current + 1;
                        countEl.textContent = `${newCount} Answer${newCount !== 1 ? 's' : ''}`;
                    }
                }

                //add answer to UI
                addAnswerToUI(data)                
            }) 
            .catch(err =>{
                const p = document.createElement('p')
                p.className = 'error-msg text-danger mb-1';
                if(err.content){
                    p.textContent = err.content[0]
                }else{
                    p.textContent = 'some error occurred'  
                }
                formEl.appendChild(p)
            })   
        } 

        const addAnswerToUI = (answer)=>{
            const container = document.querySelector("#answer_container");

            const wrapper = document.createElement('div');
            wrapper.className = "d-flex gap-4 border-bottom py-4";
        
                                
                    
            wrapper.innerHTML = `
                <div>
                    <div class="d-flex flex-column gap-2 align-items-center">
                        <button data-action="upvote" class="btn btn-outline-secondary rounded-circle p-2 d-flex  answer${answer.id}-vote-btn" onClick="handleVote('answer',${answer.id},'upvote',this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-up-fill" viewBox="0 0 16 16">
                                <path d="m7.247 4.86-4.796 5.481c-.566.647-.106 1.659.753 1.659h9.592a1 1 0 0 0 .753-1.659l-4.796-5.48a1 1 0 0 0-1.506 0z"/>
                            </svg>
                        </button>
                        <span id="answer${answer.id}_vote_count" class="fw-medium fs-4">${answer.total_votes? answer.total_votes : 0}</span>
                        <button data-action="downvote" class="btn btn-outline-secondary rounded-circle p-2 d-flex answer${answer.id}-vote-btn" onClick="handleVote('answer',${answer.id},'downvote',this)">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" fill="currentColor" class="bi bi-caret-down-fill" viewBox="0 0 16 16">
                            <path d="M7.247 11.14 2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z"/>
                            </svg>
                        </button>
                    </div>
                </div>
                <div class="flex-grow-1">
                    <div class=" pb-4 rich-content">
                        ${answer.content}
                    </div>
                    <div class="d-flex justify-content-end">
                        <div class=" py-1 px-2 small ">
                            <p class="mb-0  text-light-emphasis">
                                answered <span class="datetime " data-dt="${answer.created_at}">
                                    ${new Date(answer.created_at).toLocaleString("en-US", {
                                        year: "numeric",
                                        month: "short",   
                                        day: "numeric",
                                        hour: "numeric",
                                        minute: "2-digit",
                                        hour12: true
                                    })}
                                </span>
                            </p>
                            <p class="mb-0 text-primary fs-6">${answer.author.username}</p>
                        </div>
                    </div>
                    <div class="" id="answer${answer.id}_comments_container">
                    </div>
                    <div>
                        <button data-btn="show" id="answer${answer.id}_comment_btn" class="text-primary btn p-0 m-0 border-0 bg-transparent " 
                            onClick="handleCommentFormDisplay('answer',${answer.id},this)">Add a comment</button>
                        <form id="answer${answer.id}_comment_form" class="d-none" onSubmit="handleCommentSubmit(event, null, ${answer.id}, this)">
                            <textarea name="content" id="answer${answer.id}_comment_content" class="w-100 p-2 form-control"></textarea>
                            <div class="d-flex gap-2 mt-2">
                                <button class="btn btn-sm btn-primary" type="submit">Add Comment</button>
                                <button class="text-primary btn p-0 m-0 border-0 bg-transparent" type="button" data-btn="cancel"
                                onClick="handleCommentFormDisplay('answer',${answer.id},this)">Cancel</button>
                            </div>    
                        </form>
                    </div>
                </div>
            `
            container.appendChild(wrapper)
        }

        formEl.addEventListener("submit",handleSubmit)

        const handleVote = (type, id, action, button)=>{
            let prevAction = action
            let actionMap = {upvote:1, downvote:-1}
            let value = actionMap[prevAction]

            if (button.classList.contains('active')){
                action = 'remove'
            }
            
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value

            fetch(`http://127.0.0.1:8000/asktogether/api/${type+'s'}/${id}/vote/`,{
                method:'POST',
                headers:{
                    'Content-Type':"application/json",
                    'X-CSRFToken':csrfToken
                },
                body:JSON.stringify({action})
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data=>{
                let activeAction = ''
                document.querySelectorAll(`.${type+id}-vote-btn`).forEach((btn)=>{
                    if(btn.classList.contains('active')){
                        activeAction = btn.dataset.action
                        btn.classList.remove('active')
                    }
                })
                spanEl = document.getElementById(`${type+id}_vote_count`)
                let vote_count = parseInt(spanEl.innerHTML)


                if(action === 'remove'){
                    vote_count -= value
                }else{
                    button.classList.add('active')
                    if(activeAction){
                        vote_count -= actionMap[activeAction]
                    }
                    vote_count += value
                }

                spanEl.innerHTML = vote_count
            })
            .catch(err =>{
                console.log(err)
            }) 

        }

        const handleCommentFormDisplay = (type, id, button)=>{
            let btnType = button.dataset.btn
            let commentForm = document.getElementById(`${type+id}_comment_form`)
            if(btnType === "show"){
                button.classList.add('d-none')
                commentForm.classList.remove('d-none')
            }else{
                commentForm.reset()
                commentForm.querySelector(`#${type+id}_comment_error`)?.remove()
                document.getElementById(`${type+id}_comment_btn`).classList.remove('d-none')
                commentForm.classList.add('d-none')
            }
        }

        const handleCommentSubmit = (e, questionId, answerId, form)=>{
            e.preventDefault()
            let type = questionId? 'question':'answer'
            let id = questionId? questionId:answerId
            let content = document.getElementById(`${type+id}_comment_content`).value
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value
            
            fetch(`http://127.0.0.1:8000/asktogether/api/comments/create/`,{
                method:'POST',
                headers:{
                    'Content-Type':"application/json",
                    'X-CSRFToken':csrfToken
                },
                body:JSON.stringify({
                    content:content.trim(),
                    [type]:id
                })
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data=>{
                form.querySelector(`#${type+id}_comment_error`)?.remove()
                form.reset()
                addCommentToUi(data, type, id)
                document.getElementById(`${type+id}_comment_btn`).classList.remove('d-none')
                form.classList.add('d-none')
            })
            .catch(err=>{
                const p = document.createElement('p')
                p.id = `${type+id}_comment_error`
                p.className = ' text-danger mb-1';
                if(err.content){
                    p.textContent = err.content[0]
                }else{
                    p.textContent = 'some error occurred'  
                }
                form.appendChild(p)
            })

        }   

        const addCommentToUi = (comment,type,id)=>{
            const container = document.getElementById(`${type+id}_comments_container`)

            const wrapper = document.createElement('div')
            wrapper.className = "px-3 py-2 border-top"

            wrapper.innerHTML = `
                <p class="mb-0">
                    ${comment.content}
                    <span class="d-inline-block">
                        <span>- ${comment.user.username}</span>
                        <span class="datetime text-secondary small" data-dt="${comment.created_at}">
                            ${new Date(comment.created_at).toLocaleString("en-US", {
                                                        year: "numeric",
                                                        month: "short",   
                                                        day: "numeric",
                                                        hour: "numeric",
                                                        minute: "2-digit",
                                                        hour12: true
                            })}
                        </span>
                    </span>
                </p>
            `
            container.appendChild(wrapper)                           
        }

        const handleAcceptedAnswer = (id, button)=>{
            
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value
            if(acceptedAnswer){
                if(acceptedAnswer === id){
                    fetch("http://127.0.0.1:8000/asktogether/api/questions/{{object.id}}/accept/",{
                        method:"DELETE",
                        headers:{
                            'X-CSRFToken':csrfToken
                        }
                    })
                    .then(res=>{
                        if(res.ok){
                            return res.json()
                        }else{
                            return res.json().then((err)=> {throw err})
                        }
                    })
                    .then(data=>{
                        acceptedAnswer = null
                        button.querySelectorAll('svg').forEach((svg)=>{
                            if(svg.dataset.accepted === "true"){
                                svg.classList.add('d-none')
                            }else{
                                svg.classList.remove('d-none')
                            }
                        })
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                }else{
                    fetch("http://127.0.0.1:8000/asktogether/api/questions/{{object.id}}/accept/",{
                        method:"PATCH",
                        headers:{
                            'Content-Type':"application/json",
                            'X-CSRFToken':csrfToken
                        },
                        body:JSON.stringify({answer:id})
                    })
                    .then(res=>{
                        if(res.ok){
                            return res.json()
                        }else{
                            return res.json().then((err)=> {throw err})
                        }
                    })
                    .then(data=>{
                        prevAcceptedAnswer = acceptedAnswer
                        acceptedAnswer = data.accepted_answer

                        document.getElementById(`answer${prevAcceptedAnswer}_acc_btn`)?.querySelectorAll('svg').forEach((svg)=>{
                            if(svg.dataset.accepted === "true"){
                                svg.classList.add('d-none')
                            }else{
                                svg.classList.remove('d-none')
                            }
                        })

                        button.querySelectorAll('svg').forEach((svg)=>{
                            if(svg.dataset.accepted === "true"){
                                svg.classList.remove('d-none')
                            }else{
                                svg.classList.add('d-none')
                            }
                        })
                    })
                    .catch(err=>{
                        console.log(err)
                    })
                }
            }else{
                fetch("http://127.0.0.1:8000/asktogether/api/questions/{{object.id}}/accept/",{
                        method:"POST",
                        headers:{
                            'Content-Type':"application/json",
                            'X-CSRFToken':csrfToken
                        },
                        body:JSON.stringify({answer:id})
                    })
                    .then(res=>{
                        if(res.ok){
                            return res.json()
                        }else{
                            return res.json().then((err)=> {throw err})
                        }
                    })
                    .then(data=>{
                        acceptedAnswer = data.accepted_answer

                        button.querySelectorAll('svg').forEach((svg)=>{
                            if(svg.dataset.accepted === "true"){
                                svg.classList.remove('d-none')
                            }else{
                                svg.classList.add('d-none')
                            }
                        })
                    })
                    .catch(err=>{
                        console.log(err)
                    })
            }
        }

        const fetchMoreComments = (type, id, button)=>{
            const csrfToken = formEl.querySelector('[name=csrfmiddlewaretoken]').value
            const last_id = button.dataset.lastCommentId

            fetch(`http://127.0.0.1:8000/asktogether/api/comments/?${type==="question"?'question_id':'answer_id'}=${id}&last_id=${last_id}`,{
                method:'GET',
                headers:{
                    'X-CSRFToken': csrfToken
                }
            })
            .then(res =>{
                if(res.ok){
                    return res.json()
                }else{
                    return res.json().then((err)=> {throw err})
                }
            })
            .then(data =>{
                data.comments.forEach((comment)=>addCommentToUi(comment, type, id))
                button.dataset.lastCommentId = data.last_id
                if(!data.has_more){
                    button.classList.add('d-none')
                }

            })
            .catch(err => {console.log(err)})
        }

    </script>
{% endblock %}