{% extends 'base.html' %}
{% load static %}
{% load icon_tags %}

{% block title %}
    signup
{% endblock %}

{% block content %}
  {% include 'ask_together/includes/header.html' %}
    <main>
        <div class="layout">
            <div class="at-sidebar-wrapper">
                {% include 'ask_together/includes/sidebar.html' %}
            </div>
            <div class="at-sidebar-overlay"></div>
            <div class="at-content-container">
                <div class="at-login-card">
                    {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                            <div class=" at-alert text-center">
                                {{error}}
                            </div>
                        {% endfor %}
                    {% endif %}
                    <header class="at-login__header">
                        <img src="{% static 'ask_together/img/logo_b.png' %}" class="at-login__logo" alt="AskTogether"/>
                        <h1 class="at-login__title">Sign-Up</h1>
                    </header>
                    <a class="at-btn at-btn-google" href="{% url 'ask_together:google_login' %}">
                        {% icon 'icon-google' 'icon-google' %}
                        Continue with google
                    </a>
                    <div class="at-separator">
                        <span class="at-separator__line " aria-hidden="true"></span>
                        <span class="at-separator__text ">or</span>
                        <span class="at-separator__line" aria-hidden="true"></span>
                    </div>
                    <form method="post" action="{% url 'ask_together:signup' %}" class="at-login-form">
                        {% csrf_token %}
                        <div>
                            <label for="id_username" class="at-login-form__label">Username</label>
                            <input type="text" name="username" class="at-form-input" maxlength="150" autofocus="" required="" id="id_username"
                            placeholder="Enter username">
                            {% for error in form.username.errors %}
                                <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
                        <div >
                            <label for="id_email" class="at-login-form__label">Email</label>
                            <input type="email" name="email" class="at-form-input"  maxlength="254" required="" id="id_email"
                            placeholder="Enter email">
                            {% for error in form.email.errors %}
                                <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
                        <div >
                            <label for="id_password1" class="at-login-form__label">Password</label>
                            <input type="password" name="password1" class="at-form-input" autocomplete="new-password" required=""  id="id_password1"
                            placeholder="Enter password">
                            {% for error in form.password1.errors %}
                                <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
                        <div>
                            <label for="id_password2" class="at-login-form__label">Password confirmation</label>
                            <input type="password" name="password2" class="at-form-input" autocomplete="new-password" required="" id="id_password2"
                            placeholder="Re-enter password">
                            {% for error in form.password2.errors %}
                                <p class="at-form-error">{{error}}</p>
                            {% endfor %}
                        </div>
                        <button type="submit" class="at-btn at-btn-brand at-btn--lg text-uppercase mt-2">Sign up</button>
                        <p >Already have an account? <a href="{% url 'ask_together:login' %}" >Login</a></p>  
                    </form>
                </div>
            </div>
        </div>
    </main>
{% endblock %}