{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{object.username}} profile
{% endblock %}

{% block content %}
    {% include 'ask_together/includes/header.html' %}
    <div class="container min-vh-100">  
        <div class="at-layout"> 
            <div class="at-sidebar-wrapper">
                {% include 'ask_together/includes/sidebar.html' %}
            </div>
            <div class="at-sidebar-overlay"></div>
            <main class="at-content-container">
                <div class="d-flex gap-4 mb-5 flex-wrap">
                    <div>
                        <img src="{% if object.profile_image %}{{object.profile_image.url}}{% else %}{% static 'ask_together/img/default_profile.jpg' %}{% endif %}" class="img-thumbnail at-avatar-profile" />
                    </div>
                    <div class="d-flex flex-column ml-4 flex-grow-1">
                        <h2 class="fs-2 mb-0 fw-normal">{{object.username}}</h2>
                        {% if object.title %}
                            <p class="at-text-secondary fs-3 mb-2">{{object.title}}</p>
                        {% endif %}
                        <div class="d-flex gap-2 mb-2 flex-wrap">
                            {% if object.website %}
                                <a href="{{object.website}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-link-45deg at-text-secondary" viewBox="0 0 16 16">
                                        <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                                        <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                                    </svg>
                                </a>    
                            {% endif %}
                            {% if object.x_handle %}
                                <a href="https://x.com/{{object.x_handle}}" target="_blank">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitter-x at-text-secondary" viewBox="0 0 16 16">
                                        <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                                    </svg>
                                </a>    
                            {% endif %}
                            {% if object.github %}
                                <a href="https://github.com/{{object.github}}" target="_blank" class="">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github at-text-secondary" viewBox="0 0 16 16">
                                        <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                    </svg>
                                </a>    
                            {% endif %}
                        </div>
                        {% if object.location %}
                            <p class="mb-0 d-flex at-text-secondary gap-1 align-items-end">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill at-text-secondary" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                    </svg>
                                </span>
                                {{object.location}}
                            </p>
                        {% endif %}
                    </div>
                    {% if request.user.id == object.id %}
                        <div>
                            <a href="{% url 'ask_together:user_profile_edit'%}" class="at-btn at-btn-sm at-btn-outline-secondary">
                               <span class="">Edit Profile</span>
                            </a>
                        </div>
                    {% endif %}
                </div>
                <div class="d-flex flex-column flex-md-row gap-5">
                    <div class="d-flex flex-column flex-shrink-0">
                        <h3 class="fs-5 fw-normal">Stats</h3>
                        <div class="rounded border p-3 d-flex flex-md-column justify-content-around gap-4" style="width:100%;max-width:220px">
                            <div class="d-flex flex-column align-items-center">
                                <p class="mb-0 fs-4">{{object.questions.count}}</p>
                                <p class="at-text-secondary fs-6 mb-0">questions</p>
                            </div>
                            <div class="d-flex flex-column align-items-center">
                                <p class="mb-0 fs-4">{{object.answers.count}}</p>
                                <p class="at-text-secondary fs-6 mb-0">answers</p>
                            </div>  
                        </div>
                    </div>
                    <div class="d-flex flex-column flex-grow-1">
                        {% if object.about|striptags %}
                            <div class="d-flex flex-column mb-4">
                                <h3 class="fs-5 fw-normal">About</h3>
                                <div>
                                    {{object.about|safe}}
                                </div>
                            </div>
                        {% elif request.user == object %}
                            <div class="d-flex flex-column mb-4 ">
                                <h3 class="fs-5 fw-normal">About</h3>
                                <div class="border rounded bg-body-tertiary py-5 px-4 row g-0">
                                    <p class="m-auto text-center col-8">Your about section is currently blank. Would you like to add one? <a href="{% url 'ask_together:user_profile_edit' %}">Edit Profile</a></p>
                                </div>
                            </div>
                        {% endif %}
                        <div class="d-flex flex-column">
                            <div class="mb-2 d-flex justify-content-between align-items-end">
                                <h3 class="fs-5 fw-normal">Latest Posts</h3>
                                <div class="d-flex at-border rounded p-2 gap-2">
                                    <button class="lpost-filter-btn at-btn at-btn-sm at-btn-outline-secondary active" onClick="filterPosts('all',this)">All</button>
                                    <button class="lpost-filter-btn at-btn at-btn-sm at-btn-outline-secondary" onClick="filterPosts('question',this)">Questions</button>
                                    <button class="lpost-filter-btn at-btn at-btn-sm at-btn-outline-secondary" onClick="filterPosts('answer',this)">Answers</button>
                                </div>
                            </div>    
                            
                            
                            <div id="post_container" class="at-border rounded">
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <script>
        let allPosts = []
        fetch("{% url 'ask_together:get_posts' object.id %}")
            .then(res=>{
                    if(res.ok){
                        return res.json()
                    }else{
                        return res.json().then((err)=>{throw err})
                    }
            })
            .then(data=>{
                allPosts = data
                renderPosts(data)
            })
        
        const renderPosts = (posts)=>{
            const container = document.getElementById('post_container')

            container.innerHTML = "";
            

            posts.forEach((post,index)=>{
                const wrapper = document.createElement('div')
                wrapper.className = `${index !== posts.length-1?'at-border-bottom':''} py-4 px-3 row g-0 justify-content-between`
                wrapper.innerHTML = `
                    <span class="px-1 px-md-3 py-1 rounded at-border rounded col-1 text-center align-self-start">${post.type==='answer'?'A':'Q'}</span>
                    <p class="col-8 mb-0">${post.title}</p>
                    <span class="datetime col-2" data-dt="${post.updated_at}">
                        ${new Date(post.updated_at).toLocaleString("en-US", {
                            year: "numeric",
                            month: "short",   
                            day: "numeric",
                        })}
                    </span>
                `
                container.appendChild(wrapper)
            })
        }

        const filterPosts = (filter, button)=>{
            if(button.classList.contains('active')) return 

            document.querySelectorAll('.lpost-filter-btn').forEach(btn=>btn.classList.remove('active'))

            button.classList.add('active')

            if(filter === 'all'){
                renderPosts(allPosts)
            }else{
                renderPosts(allPosts.filter(p=>p.type===filter))
            }
        }

    </script>
{% endblock %}