{% extends 'base.html' %}
{% load static %}

{% block title %}
    {{object.username}} profile
{% endblock %}

{% block content %}
    {% include 'ask_together/includes/header.html' %}
    <main>
        <div class="layout">
            <div class="at-sidebar-wrapper">
                {% include 'ask_together/includes/sidebar.html' %}
            </div>
            <div class="at-sidebar-overlay"></div>
            <div class="at-content-container">
                <header class="at-profile__header">
                    <img src="{% if object.profile_image %}{{object.profile_image.url}}{% else %}{% static 'ask_together/img/default_profile.jpg' %}{% endif %}" class="img-thumbnail at-avatar-profile" />
                    
                    <div class="at-profile__identity">
                        <h1 class="at-profile__name">{{object.username}}</h1>
                        {% if object.title %}
                            <p class="at-profile__title">{{object.title}}</p>
                        {% endif %}
                        <ul class="at-profile__links">
                            {% if object.website %}
                                <li>
                                    <a href="{{object.website}}" target="_blank" class="at-profile__link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-link-45deg" viewBox="0 0 16 16">
                                            <path d="M4.715 6.542 3.343 7.914a3 3 0 1 0 4.243 4.243l1.828-1.829A3 3 0 0 0 8.586 5.5L8 6.086a1 1 0 0 0-.154.199 2 2 0 0 1 .861 3.337L6.88 11.45a2 2 0 1 1-2.83-2.83l.793-.792a4 4 0 0 1-.128-1.287z"/>
                                            <path d="M6.586 4.672A3 3 0 0 0 7.414 9.5l.775-.776a2 2 0 0 1-.896-3.346L9.12 3.55a2 2 0 1 1 2.83 2.83l-.793.792c.112.42.155.855.128 1.287l1.372-1.372a3 3 0 1 0-4.243-4.243z"/>
                                        </svg>
                                    </a>    
                                </li>
                            {% endif %}
                            {% if object.x_handle %}
                                <li>
                                    <a href="https://x.com/{{object.x_handle}}" target="_blank" class="at-profile__link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-twitter-x" viewBox="0 0 16 16">
                                            <path d="M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z"/>
                                        </svg>
                                    </a>    
                                </li>
                            {% endif %}
                            {% if object.github %}
                                <li>
                                    <a href="https://github.com/{{object.github}}" target="_blank" class="at-profile__link">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-github" viewBox="0 0 16 16">
                                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27s1.36.09 2 .27c1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.01 8.01 0 0 0 16 8c0-4.42-3.58-8-8-8"/>
                                        </svg>
                                    </a>    
                                </li>
                            {% endif %}
                        </ul>
                        {% if object.location %}
                            <p class="at-profile__location">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-geo-alt-fill at-text-secondary" viewBox="0 0 16 16">
                                        <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                                    </svg>
                                </span>
                                {{object.location}}
                            </p>
                        {% endif %}
                    </div>
                    {% if request.user.id == object.id %}
                        <div>
                            <a href="{% url 'ask_together:user_profile_edit'%}" class="at-btn at-btn-sm at-btn-outline-secondary">
                               <span class="">Edit Profile</span>
                            </a>
                        </div>
                    {% endif %}
                </header>
                <section class="at-profile__body">
                    <aside class="at-profile-stats">
                        <h2 class="at-profile-stats__title">Stats</h2>
                        <ul class="at-profile-stats__list">
                            <li >
                                <span class="at-profile-stats__value">{{object.questions.count}}</span>
                                <span class="at-profile-stats__label ">questions</span>
                            </li>
                            <li>
                                <span class="at-profile-stats__value">{{object.answers.count}}</span>
                                <span class="at-profile-stats__label">answers</span>
                            </li>  
                        </ul>
                    </aside>
                    <section class="at-profile__main">
                        {% if object.about|striptags %}
                            <section class="at-profile-about">
                                <h2 class="at-profile-about__title">About</h2>
                                <div class="at-rich-content">
                                    {{object.about|safe}}
                                </div>
                            </section>
                        {% elif request.user == object %}
                            <section class="at-profile-about">
                                <h2 class="at-profile-about__title">About</h2>
                                <p class="at-profile-about__empty">
                                    Your about section is currently blank. Would you like to add one? 
                                    <a href="{% url 'ask_together:user_profile_edit' %}">Edit Profile</a>
                                </p>
                            </section>
                        {% endif %}
                        <section class="at-profile-posts">
                            <header class="at-profile-posts__header">
                                <h2 class="at-profile-posts__title">Latest Posts</h2>
                                <div class="at-profile-posts__filters">
                                    <button class="lpost-filter-btn at-btn at-btn-sm at-btn-outline-secondary active" onClick="filterPosts('all',this)">All</button>
                                    <button class="lpost-filter-btn at-btn at-btn-sm at-btn-outline-secondary" onClick="filterPosts('question',this)">Questions</button>
                                    <button class="lpost-filter-btn at-btn at-btn-sm at-btn-outline-secondary" onClick="filterPosts('answer',this)">Answers</button>
                                </div>
                            </header>    
                            
                            
                            <ul id="post_container" class="at-profile-posts__list">
                            </ul>
                        </section>
                    </section>
                </section>
            </div>
        </div>
    </main>
    <script>
        let allPosts = []
        fetch("{% url 'ask_together:get_posts' object.id %}")
            .then(res=>{
                    if(res.ok){
                        return res.json()
                    }else{
                        return res.json().then((err)=>{throw err})
                    }
            })
            .then(data=>{
                allPosts = data
                renderPosts(data)
            })
            .catch((err)=>{
                console.error(err)
                alert('Something went wrong, Please try again.')
            })
        
        const renderPosts = (posts)=>{
            const container = document.getElementById('post_container')

            container.innerHTML = "";

            const url ="{% url 'ask_together:question_detail' 0 %}"

            posts.forEach((post,index)=>{
                const wrapper = document.createElement('li')
                wrapper.innerHTML = `
                    <article class="at-profile-posts__item ${index !== posts.length-1?'at-profile-posts__item--border':''}">
                        <span class="at-profile-posts__type">${post.type==='answer'?'A':'Q'}</span>
                        <a href="${url.replace('0',post.question_id)}" class="at-profile-posts__link">
                            ${post.title}
                        </a>
                        <time class="datetime" data-dt="${post.updated_at}">
                            ${new Date(post.updated_at).toLocaleString("en-US", {
                                year: "numeric",
                                month: "short",   
                                day: "numeric",
                            })}
                        </time>
                    </article>
                `
                container.appendChild(wrapper)
            })
        }

        const filterPosts = (filter, button)=>{
            if(button.classList.contains('active')) return 

            document.querySelectorAll('.lpost-filter-btn').forEach(btn=>btn.classList.remove('active'))

            button.classList.add('active')

            if(filter === 'all'){
                renderPosts(allPosts)
            }else{
                renderPosts(allPosts.filter(p=>p.type===filter))
            }
        }

    </script>
{% endblock %}