.at-sidebar {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  flex-direction: column;
  gap: var(--space-6);

  width: 15.25rem;
  height: 100vh;

  padding: var(--space-4);

  background-color: var(--color-white);
  z-index: 2000;

  transform: translateX(-100%);
  transition: transform 0.3s ease;

  flex-shrink: 0;
}

.at-sidebar.open {
  transform: translateX(0);
}

.at-sidebar-wrapper {
  border: none;
}

.at-sidebar-overlay {
  position: fixed;
  inset: 0;

  background: rgba(0, 0, 0, 0.45);

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.3s ease;
  z-index: 1500;
}

.at-sidebar-overlay.active {
  opacity: 1;
  pointer-events: auto;
}

.at-sidebar__header {
  display: flex;
  justify-content: space-between;
}

.at-sidebar__logo img {
  width: 48px;
}

.at-sidebar__auth {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.at-sidebar__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.at-sidebar__link {
  display: flex;
  align-items: center;
  width: 100%;
  gap: var(--space-2);

  background-color: transparent;
  padding: var(--space-2) var(--space-3);
  border: none;
  border-radius: var(--radius-md);

  font-size: var(--fs-md);
  font-weight: 500;

  color: var(--color-heading-dark);
  transition: background-color 0.15s ease, transform 0.1s ease;
}

.at-sidebar__link:hover {
  background-color: var(--color-bg-muted);
}

.at-sidebar__link:active {
  transform: scale(0.97);
}

@media (min-width: 1200px) {
  .at-sidebar {
    position: sticky;
    top: 4.125rem;

    height: max-content;
    transform: none;
    transition: none;

    width: 15.25rem;
  }

  .at-sidebar-wrapper {
    border-right: 1px solid var(--search-border);
  }

  .at-sidebar-overlay {
    display: none;
  }

  .at-sidebar__header {
    display: none;
  }

  .at-sidebar__auth {
    display: none;
  }
}
