.at-vote {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  gap: var(--space-2);
  align-items: center;
  background-color: var(--color-primary-100);
  border-radius: var(--radius-sm);
}

.at-vote__count {
  font-size: var(--fs-h2);
  font-weight: 500;
}
