{% load static %}
{% load icon_tags %}

<header class="header">
    <nav class="at-navbar">
        <div class="navbar__container"> 
            <div class="at-navbar__left">
                {% if request.resolver_match.url_name != 'question_create' %}
                    <button class="at-btn at-btn--transparent at-btn-hamburger" type="button" aria-label="Open Sidebar">
                       {% icon 'bi-list' 'at-icon' %}
                    </button>
                {% endif %}
                <a href="{% url 'ask_together:home' %}" class="at-brand">
                    <img src="{% static 'ask_together/img/logo_b.png' %}" class="at-brand__logo" alt="AskTogether"/>
                    <span class="at-brand__name">
                        <span class="at-brand__ask">Ask</span><span class="at-brand__together">Together</span>
                    </span>
                </a>
            </div>
            <div class="at-search">
                <form method="GET" action="{% url "ask_together:search" %}">
                    <input type="text" name="q" class="at-form-input at-search__input" placeholder="Search..." >
                </form>
                <span class="at-search__icon">
                    {% icon 'bi-search' 'at-icon at-search-icon' %}
                </span>
            </div>
            <div class="at-navbar__right">
                {% if user.is_authenticated %}
                    <a class="at-notification" href="{% url 'ask_together:notifications' %}">
                        <img class="" src="{% static 'ask_together/img/bell.png'  %}" alt="Notifications"/>
                        <span class="at-notification__count at-hidden" id="header_notification_count"></span>
                    </a>
                
                    <a href="{% url 'ask_together:user_profile' request.user.id %}">
                        <img 
                            class="at-avatar at-avatar-md at-avatar-ring" 
                            src="{% if request.user.profile_image %}{{request.user.profile_image.url}}{% else %}{% static 'ask_together/img/default_profile.jpg' %}{% endif %}" 
                        />
                    </a>
                   
                {% else %}
                    <div class="at-auth" >
                        <a href="{% url 'ask_together:login' %}" class="at-btn at-btn-text">Login</a>
                        <a href="{% url 'ask_together:signup' %}" class="at-btn at-btn-brand">Sign up</a>
                    </div>
                {% endif %}
            </div>
        </div> 
    </nav>
</header>
{% block script_block %}
    <script>
        document.addEventListener("DOMContentLoaded",()=>{
            document.querySelector('.at-btn-hamburger')?.addEventListener('click', () => {
                let sidebar = document.querySelector('.at-sidebar')
                let overlay = document.querySelector('.at-sidebar-overlay');
                sidebar?.classList.toggle('open');
                overlay?.classList.toggle('active');
            });

            {% if user.is_authenticated %}
                fetchUnreadNotificationsCount(`{% url 'ask_together:get_notifications_count' %}?is_read=false`)
            {% endif %}
        })  
    </script>
{% endblock %}