{% load static %}
{% load icon_tags %}

<aside class="at-sidebar" aria-label="sidebar-navigation">
    <header class="at-sidebar__header">
        <a href="{% url 'ask_together:home' %}" class="at-sidebar__logo">
            <img src="{% static 'ask_together/img/logo_b.png' %}" alt="AskTogether" />  
        </a>
        <button type="button" class="at-btn at-btn-text at-sidebar-close" aria-label="Close sidebar">
            {% icon 'bi-x' 'icon-close' %}
        </button>
    </header>
    {% if not user.is_authenticated %}
        <div class="at-sidebar__auth" >
            <a href="{% url 'ask_together:login' %}" class="at-btn at-btn-text">Login</a>
            <a href="{% url 'ask_together:signup' %}" class="at-btn at-btn-brand">Sign up</a>
        </div>
    {% endif %}
    <nav class="at-sidebar__nav" aria-label="Main">
        <ul class="at-sidebar__list">
            <li>
                <a class="at-sidebar__link {% if request.resolver_match.url_name == 'home' %}is-active{% endif %}" href="{% url 'ask_together:home' %}" 
                    {% if request.resolver_match.url_name == 'home' %}aria-current="page"{% endif %}
                >
                    {% icon 'bi-house' 'icon-house' %}
                    <span>Home</span>
                </a>
            </li>
            <li>
                {% if user.is_authenticated %}
                    {% url 'ask_together:saved_questions' as bookmark_url %}
                {% else %}
                    {% url 'ask_together:login' as bookmark_url %}
                {% endif %}
                <a class="at-sidebar__link {% if request.resolver_match.url_name == 'saved_questions' %}is-active{% endif %}" href="{{bookmark_url}}"
                    {% if request.resolver_match.url_name == 'saved_questions' %}aria-current="page"{% endif %}
                >
                    {% icon 'bi-bookmark' 'icon-bookmark' %}
                    <span>Saves</span>
                </a>
            </li>
            <li>
                <a class="at-sidebar__link {% if request.resolver_match.url_name == 'users' %}is-active{% endif %}" href="#">
                    {% icon 'bi-people' 'icon-people' %}          
                    <span>Users</span>   
                </a>
            </li>
            <li>
                <a class="at-sidebar__link {% if request.resolver_match.url_name == 'leaderboard' %}is-active{% endif %}" href="#">
                    {% icon 'bi-trophy' 'icon-trophy' %}
                    <span>Leaderboard</span>
                </a>
            </li>
        </ul>
    </nav>
    {% if user.is_authenticated %}
        <nav aria-label="Account">
            <ul class="at-sidebar__list">
                <li>
                    <a class="at-sidebar__link {% if request.resolver_match.url_name == 'user_profile' %}is-active{% endif %}"  href="{% url 'ask_together:user_profile' request.user.id %}"
                        {% if request.resolver_match.url_name == 'user_profile' %}aria-current="page"{% endif %}
                    >
                        {% icon 'bi-person' 'icon-person' %}
                        <span class="">Profile</span>
                    </a>
                </li>
            
                <li>
                    <a class="at-sidebar__link" href="{% url 'ask_together:user_profile' request.user.id %}">
                        {% icon 'bi-gear' 'icon-gear' %}
                        <span class="">Settings</span>
                    </a>
                </li>
                <li>
                    <form method="post" action="{% url 'ask_together:logout' %}" >
                        {% csrf_token %}
                        <button type="submit" class="at-sidebar__link">
                            {% icon 'bi-box-arrow-left' 'icon-box-arrow-left' %}
                            <span>Logout</span>
                        </button>
                    </form>
                </li>
            </ul>
        </nav>
    {% endif %}
</aside>
