.at-profile__header {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-5);
  margin-bottom: var(--space-6);
}

.at-profile__identity {
  display: flex;
  flex-direction: column;
  margin-left: var(--space-5);
  flex-grow: 1;
}

.at-profile__name {
  font-weight: 400;
}

.at-profile__title {
  color: var(--color-text-secondary);
  font-size: var(--fs-h2);
  margin-bottom: var(--space-2);
}

.at-profile__links {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--space-2);
  margin-bottom: var(--space-2);
  flex-wrap: wrap;
}

.at-profile__link {
  color: var(--color-text-secondary);
}

.at-profile__location {
  display: flex;
  color: var(--color-text-secondary);
  gap: var(--space-1);
  align-items: flex-end;
}
