{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="AskTogether – Ask, answer, and grow together.">
        <link rel="icon" type="image/png" href="{% static 'ask_together/img/logo_b.png' %}" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
        
    
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static 'ask_together/css/main.css' %}"/>

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.css">
        
        {% block css_block %}{% endblock %}

        <title>{% block title %}AskTogether{% endblock %}</title>
    </head>
    <body>
        {% block content %}
        {% endblock %}
        <script src="https://cdn.jsdelivr.net/npm/notyf@3/notyf.min.js" defer></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous" defer></script>
        <script src="{% static 'ask_together/js/app.js' %}" defer></script>

        {% block script_block %}{% endblock %}     
    </body>
</html>
